*{
   
   
    background-color: black;
    color:aliceblue
}
.vamo{
    background-color: rgb(255, 0, 0);
    color:aliceblue
}
.vamo1{
    background-color: rgb(56, 1, 255);
    color:aliceblue;
    font-size: 56px
}
.caramba
{
    text-align: center;
    width: 50%;

}
.endereço{
    background-color: rgb(56, 1, 255);
    color:aliceblue;
    font-size: 45px
}